.container
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review{
    width:400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container img{
    width: 150px;
    height:150px;
   border-radius:50%;
}
.review #info{
    text-align: center;
}