<html>
<body>
    <p> this is a web application to predict the profit</p>
    <form action = "/login" method= "post">
    <p>Marketing spend</p>
    <p><input type="text" name = "ms" /></p>
    
    <p>Administration spend</p>
    <p><input type="text" name = "as" /></p>
    
    <p>R & D spend</p>
    <p><input type="text" name = "rd" /></p>
    
    <label for = "states">Choose the state</label>
    <select name ="s">
    <option Value = "cal">California</option>
    <option Value = "flo">Florida</option>
    <option Value = "ny">New York</option>
    </select>
    
    <p><input type="submit" value = "submit" /></p>
    </form>
    <b>{{y}}</b>
</body>
</html>

